* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f8fafc;
    color: #1e293b;
}

nav {
    height: 75px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #e2e8f0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #0f172a;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #475569;
    font-size: 14px;
    font-weight: 600;
}

nav a:hover {
    color: #2563eb;
}

.hero {
    min-height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 8%;
    gap: 60px;
}

.hero-content {
    max-width: 650px;
}

.small-title {
    color: #2563eb;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.05;
    color: #0f172a;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 30px;
    color: #2563eb;
    margin-bottom: 25px;
}

.description {
    font-size: 18px;
    line-height: 1.8;
    color: #64748b;
    max-width: 600px;
}

.buttons {
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.btn {
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.primary {
    background: #2563eb;
    color: white;
}

.secondary {
    border: 1px solid #2563eb;
    color: #2563eb;
    background: white;
}

.hero-image {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: 12px solid #dbeafe;
    overflow: hidden;
    flex-shrink: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 900px) {

    nav ul {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero h1 {
        font-size: 44px;
    }

    .hero-image {
        width: 280px;
        height: 280px;
    }

    .buttons {
        justify-content: center;
    }
}
